@media only screen and (max-width: 1400px) {

/*-- Quiz --*/

.quiz {
    padding: 0 50px 20px 50px;
}

.quiz_close {
    width: calc(100% + 50px);
    padding: 10px 0 10px 0;
}

.quiz_steps_bar {
    height: 20px;
    margin: 4px 0 4px;
}

.quiz_title h3 {
    font-size: 20px;
    line-height: 21px;
}

.quiz_title p {
    font-size: 31px;
}

.quiz_thumb_val {
    padding: 10px 0 10px 0;
    font-size: 22px;
    line-height: 26px;
}

.quiz_footer > div:nth-child(1) {
    padding: 10px 25px 10px 0;
}

.quiz_footer > div:nth-child(2) {
    padding: 10px 0 10px 25px;
}

.quiz_form {
    padding: 15px 0 20px 0;
}

.quiz_title_2 h4 {
    font-size: 20px;
    line-height: 21px;
}

/*-- /Quiz --*/

}

@media only screen and (max-width: 1240px) {

/*-- Header --*/

.header_site {
    padding: 5px 0 10px 0;
}

.header_site_row > .center {
    width: calc(100% - 580px);
}

.tel_wrapp {
    padding-top: 0;
}

/*-- /Header --*/

/*-- Section 2 - Main Page --*/

.thumb_2 {
    min-height: 240px;
}

.thumb_2_title {
    padding: 10px 0 20px 0;
}

.thumb_2_title h3 {
    font-size: 24px;
    line-height: 32px;
}

.thumb_2_descript {
    padding: 20px 0 10px 0;
}

.thumb_2_descript p {
    font-size: 14px;
    line-height: 20px;
}

/*-- /Section 2 - Main Page --*/

}

@media only screen and (max-width: 1124px) {

h2 {
    font-size: 26px;
    line-height: 37px;
}

/*-- Section 3 - Main Page --*/

.h2_wrapp.white:after {
    max-width: 360px;
}

.catalog_thumbs {
    margin: 23px auto 10px auto;
}

.catalog_thumb .img_box {
    height: 327px;
}

.catalog_thumbs > div {
    width: calc(33.33% - 32px);
    margin: 13px 16px;
}

.yellow_pill_2 {
    min-height: 39px;
    font-size: 16px;
}

/*-- /Section 3 - Main Page --*/

}

@media only screen and (max-width: 1024px) {

h1 {
    font-size: 25px;
    line-height: 34px;
}

/*-- Header --*/

.header_site_row > .left {
    width: 220px;
}

.header_site_row > .center {
    width: calc(100% - 460px);
}

.header_site_row > .right {
    width: 240px;
}

.logo p {
	display: none;
}

.main_nav_wrapp {
    padding: 0 0 0 2%;
}

.tel_wrapp p {
	display: none;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.sect_1_promo {
    padding: 120px 0 60px 0;
}

.promo_img {
    top: 76px;
    right: -31px;
    width: 431px;
}

.promo_descript {
    max-width: 450px;
    padding: 10px 0 10px 0;
}

.promo_descript h3 {
    padding: 5px 0;
    font-size: 17px;
    line-height: 20px;
}

.promo_descript h1 {
    padding: 10px 0;
}

.sect_1_promo > .row:before {
    top: -198px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.thumb_2_title {
    padding: 10px 0 12px 0;
}

.thumb_2_title h3 {
    font-size: 18px;
    line-height: 27px;
}

.thumb_2_descript {
    padding: 12px 0 10px 0;
}

/*-- /Section 2 - Main Page --*/

/*-- Quiz --*/

.quiz_tab {
    min-height: 481px;
}

.quiz_thumb .img_box {
    height: 135px;
}

/*-- /Quiz --*/

}

@media only screen and (max-width: 900px) {

/*-- Header --*/

.header_site_row > .left {
    width: 190px;
}

.header_site_row > .center {
    width: calc(100% - 350px);
}

.header_site_row > .right {
    width: 160px;
    padding: 17px 0 10px 10px;
}

.tel_link {
    font-size: 18px;
    line-height: 28px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.thumbs_1_wrapp {
    margin: 3px 0px 19px 7px;
}

.thumb_1 {
    width: 100%;
    padding: 10px 0;
}

.thumb_1 > div:nth-child(1) {
	width: 60px;
}

.thumb_1 > div:nth-child(2) p {
    top: 5px;
}

.thumb_1 p.num {
    font-size: 19px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.thumbs_2_wrapp > div {
    margin: 13px 10px;
}

.thumb_2 {
    min-height: 173px;
    padding: 8px 20px 10px 20px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.catalog_thumbs > div {
    width: calc(50% - 32px);
}

.catalog_thumb_title h4 {
    padding: 10px 0;
    font-size: 11px;
}

.catalog_thumb_title h3 {
    padding: 0;
    font-size: 14px;
    line-height: 17px;
}

.catalog_thumb_title p.price {
    padding: 16px 0 1px 0;
    font-size: 17px;
    line-height: 28px;
}

/*-- /Section 3 - Main Page --*/

/*-- Footer --*/

.footer_two_cols > .left_col {
    padding: 10px 10px 10px 0;
}

.footer_two_cols > .right_col {
    width: 50%;
    padding: 10px 0 10px 0;
}

/*-- /Footer --*/

/*-- Quiz --*/

.quiz_tab {
	min-height: 345px;
}

.quiz_thumb {
    width: calc(25% - 24px);
}

.quiz_title > div:nth-child(2) {
    padding: 0 0 10px 10px;
    text-align: right;
}

.quiz_thumb .img_box {
    height: 73px;
}

.quiz_thumb .img_box img {
    min-width: auto;
    min-height: auto;
    width: 100%;
}

.grey_pill {
    min-height: 48px;
    font-size: 20px;
}

.red_pill {
    min-height: 48px;
    font-size: 20px;
}

.quiz_thumb_val {
    padding: 6px 0 6px 0;
    font-size: 18px;
}

.quiz_title p {
    line-height: 31px;
}

/*-- /Quiz --*/

}

@media only screen and (max-width: 767px) {

.row {
    padding: 0 10px;
}

.novisible_767 {
	display: none !important;
}

.visible_767 {
	display: block !important;
}

/*-- Header --*/

.header_site {
	width: 100%;
    padding: 17px 0 4px 0;
    position: fixed;
    top: 0;
    left: 0;
}

.header_site_row > .left {
    width: 102px;
}

.header_site_row > .center {
    width: 0;
    padding: 0;
}

.header_site_row > .right {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
    width: calc(100% - 102px);
    padding: 1px 0 10px 10px;
}

.tel_link {
    font-size: 14px;
    line-height: 16px;
}

#resp_nav {
	display: none;
	width: 100%;
	height: calc(100vh - 67px);
	overflow-y: auto;
	margin: 0;
	padding: 10px 10px 15px 10px;
	position: fixed;
	top: 67px;
	left: 0;
	z-index: 13;
	background: #fff;
}

.main_nav li a {
    padding: 6px 5px 5px 5px;
    font-size: 15px;
    line-height: 23px;
}

.respmenubtn {
	display: block;
	margin: 0 6px 0 24px;
}

.tel_wrapp {
    padding-top: 9px;
}

.main_nav li {
	width: 100%;
}

/*-- /Header --*/

/*-- Section 4 - Main Page --*/

.dropdowns_wrapp {
    padding: 18px 0 20px 10px;
}

.dropdown_item {
    margin: 6px 0;
    padding: 1px 20px 5px 17px;
}

.red_btn {
    width: 22px;
    height: 22px;
}

.red_btn span {
    width: 14px;
    left: calc(50% - 7px);
}

.dropdown_item_title {
    padding: 4px 5px 3px 0;
}

.dropdown_item_title h3 {
    font-size: 11px;
    line-height: 20px;
}

.dropdown_item_content {
    margin-right: 0;
    padding: 0 0 2px 0;
}

.dropdown_item_content p {
    font-size: 10px;
    line-height: 19px;
}

/*-- /Section 4 - Main Page --*/

/*-- Popup --*/

.catalog_popup_content {
    padding: 0 15px;
}

.catalog_popup_title {
    padding: 31px 0 20px 0;
}

.catalog_popup_title h3 {
    font-size: 16px;
    line-height: 28px;
}

.input_wrapp_2 input {
    height: 45px;
    padding: 0 15px;
    font-size: 20px;
    line-height: 44px;
}

/*-- /Popup --*/

/*-- Quiz --*/

.quiz {
    padding: 0 15px 20px 15px;
}

.quiz_close {
    width: calc(100% + 15px);
}

.quiz_succes {
	max-width: 445px;
    margin: 100px auto 30px auto;
    padding: 75px 15px 15px 15px;
}

.succes_icon {
    width: 120px;
    height: 120px;
}

.quiz_succes h3 {
    padding: 2px 0;
    font-size: 17px;
    line-height: 22px;
}

.icon_circle {
    width: 148px;
    height: 148px;
}

.quiz_succes .icon_circle {
    top: -79px;
}

.quiz_succes .transparent_black {
    margin: 20px auto;
}

.transparent_black {
    max-width: 306px;
    min-height: 45px;
    border: 2px solid #000;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 20px;
}

/*-- /Quiz --*/

}

@media only screen and (max-width: 700px) {

/*-- Section 2 - Main Page --*/

.thumbs_2_wrapp {
    margin: 1px 0 7px 0px;
}

.thumbs_2_wrapp > div {
	width: 100%;
    margin: 13px 0;
}

/*-- /Section 2 - Main Page --*/

/*-- Footer --*/

.footer_two_cols > .left_col,
.footer_two_cols > .right_col {
	width: 100%;
    padding: 10px 0;
    text-align: center;
}

.footer_title {
    max-width: 100%;
}

.contacts_box {
    margin: 0 auto;
}

/*-- /Footer --*/

/*-- Quiz --*/

.lp_popup.quiz_popup {
    padding: 0;
}

.quiz_form {
    padding: 18px 0 20px 0;
}

.quiz_title h3 {
    font-size: 16px;
}

.quiz_thumb {
    width: calc(33.33% - 24px);
}

.quiz_title_2 h4 {
	padding: 3px 0;
    font-size: 14px;
    line-height: 19px;
}

.quiz_title_2 h3 {
    padding: 2px 0;
}

.input_wrapp {
    padding-bottom: 19px;
}

.input_wrapp h3 {
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 17px;
}

.input_wrapp input {
    height: 30px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 29px;
}

.error_text {
    bottom: 2px;
    font-size: 14px;
}

/*-- /Quiz --*/

}

@media only screen and (max-width: 600px) {

.novisible_600 {
	display: none !important;
}

.visible_600 {
	display: block !important;
}

h1 {
    font-size: 17px;
    line-height: 19px;
}

.header_site {
    padding: 17px 0 2px 0;
    background-color: #fff;
}

/*-- Section 1 - Main Page --*/

.sect_1_promo {
    padding: 2px 0 14px 0;
    margin-top: 110px;
}

.sect_1_promo > .row:before {
    width: 260px;
    top: -130px;
    right: -132px;
}

.promo_descript {
	border-bottom: none;
	position: relative;
	max-width: 280px;
	padding: 0 0 10px 0;
}

.promo_descript:after {
	display: block;
	content: "";
	background-color: #A11917;
	width: 100%;
	max-width: 133px;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.promo_descript h3 {
	padding-top: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: normal;
}

.promo_descript h1 {
    padding: 5px 0 3px 0;
}

.promo_descript p {
    font-size: 10px;
    line-height: 10px;
}

.thumbs_1_wrapp {
    margin: 3px 0px 7px 0;
}

.thumb_1 {
    padding: 6px 0;
}

.thumb_1 > div:nth-child(1) {
    width: 50px;
}

.thumb_1 > div:nth-child(2) {
    width: calc(100% - 50px);
    padding-left: 3px;
}

.thumb_1 img {
	width: 45px;
}

.thumb_1 > div:nth-child(2) p {
	font-size: 10px;
    line-height: 10px;
}

.yellow_pill {
	min-height: 41px;
	padding: 5px 12px;
	font-size: 11px;
}

.promo_img {
    top: 33px;
    right: 0;
    width: auto;
}

.btn_wrapp {
	text-align: center;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 3 - Main Page --*/

.catalog_wrapp {
    background: rgba(0, 2, 4, .83);
    padding: 27px 0 1px 0;
    margin: 0 -10px;
}

.catalog_thumbs > div {
    width: 100%;
    margin: 13px 24px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4 {
    padding: 22px 0 0 0;
}

.h2_wrapp {
    padding: 3px 0 2px 0;
}

.dropdowns_wrapp {
    padding: 0 0 0 10px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect_5 {
  padding-top: 25px;
  padding-bottom: 0;
}

.map {
	margin: 0 -10px;
	height: 217px;
}

/*-- /Section 5 - Main Page --*/

/*-- Quiz --*/

.quiz {
	min-height: 100vh;
    background-color: #FFF;
    margin: 0;
    padding: 0 10px 20px 10px;
}

.quiz_close {
    padding: 10px 0 0 0;
}

.quiz_steps_bar {
    height: 18px;
    margin: 4px -10px 4px -10px;
}

.quiz_title {
	display: block;
}

.quiz_title > div:nth-child(1) {
    width: 100%;
    max-width: 210px;
    padding: 0;
}

.quiz_title > div:nth-child(2) {
    width: 100%;
    padding: 0;
}

.quiz_title h3 {
    font-size: 18px;
}

.quiz_title p {
    font-size: 20px;
    line-height: 20px;
}

.quiz_close .lp_close_popup {
    right: 18px;
    top: -3px;
}

.quiz_close:after {
	display: none;
}

.quiz_succes {
    max-width: 250px;
    margin: 65px auto 30px auto;
    padding: 43px 5px 3px 5px;
}

.icon_circle {
    width: 82px;
    height: 80px;
}

.succes_icon {
    width: 70px;
    height: 70px;
    position: relative;
    background-image: url(img/succes_resp.svg); 
}

.icon_circle .succes_icon {
	left: calc(50% + 1px);
}

.quiz_succes h3 {
    padding: 0;
    font-size: 10px;
    line-height: 13px;
}

.quiz_succes .icon_circle {
    top: -43px;
}

.transparent_black {
    max-width: 192px;
    min-height: 21px;
    border: 2px solid #000;
    padding: 2px 15px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 6px;
}

.quiz_succes .transparent_black {
    margin: 14px auto;
}

/*-- /Quiz --*/

}


@media only screen and (max-width: 480px) {

h2 {
    font-size: 18px;
    line-height: 21px;
}

/*-- Header --*/

.respmenubtn {
    margin: 0 6px 0 18px;
}

/*-- /Header --*/

/*-- Section 2 - Main Page --*/

.thumb_2 > div {
    text-align: center;
}

.thumb_2_title:after {
    width: 44px;
    left: calc(50% - 22px);
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.h2_wrapp.white:after {
    max-width: 166px;
}

.catalog_wrapp {
    padding: 21px 0 1px 0;
}

/*-- /Section 3 - Main Page --*/

/*-- Footer --*/

.footer_two_cols {
    padding: 14px 0 15px 0;
}

.footer_two_cols > .left_col {
    padding: 5px 0;
}

.footer_title {
    font-size: 6px;
    line-height: 14px;
}

.contacts_box p {
    padding: 2px 0;
    font-size: 9px;
    line-height: 13px;
}

/*-- /Footer --*/

/*-- Quiz --*/

.quiz {
    padding: 0 10px 8px 10px;
}

.quiz_tab {
    min-height: calc(100vh - 159px);
}

.quiz_footer {
     padding: 21px 10px 10px 10px; 
}

.quiz_thumb {
    width: calc(50% - 24px);
}

.grey_pill {
    min-height: 55px;
    padding: 1px 15px;
    font-size: 13px;
    line-height: 17px;
}

.red_pill {
    min-height: 55px;
    padding: 1px 15px;
    font-size: 13px;
    line-height: 17px;
}

/*-- /Quiz --*/

}

@media only screen and (max-width: 360px) {

/*-- Quiz --*/

.quiz_thumbnails {
    margin: 0;
    padding-left: 22px;
    padding-right: 13px;
}

.quiz_thumb {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
    width: 100%;
    margin: 4px 0;
}

.quiz_thumb input:checked + .img_box {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
}

.quiz_thumb .img_box {
    height: 36px;
    width: 76px;
    margin-right: 10px;
}

.quiz_thumb .quiz_thumb_val {
	width: calc(100% - 76px);
    text-align: left;
    padding: 0;
}

.quiz_thumb_4_resp .img_box {
	height: 56px;
    width: 124px;
}

.quiz_thumb_4_resp .quiz_thumb_val {
    width: calc(100% - 124px);
}

.quiz_thumb_5_resp .img_box {
	height: 80px;
    width: 110px;
    background-color: transparent;
}

.quiz_thumb_5_resp .img_box img {
    min-width: auto;
    min-height: auto;
    width: auto;
    max-width: 94px;
    max-height: 100%;
}

.quiz_thumb_5_resp .quiz_thumb_val {
    width: calc(100% - 110px);
}

/*-- /Quiz --*/

}

@media only screen and (min-width: 768px) {

/*-- Header --*/

#resp_nav {
	display: block !important;
}

/*-- /Header --*/

}